<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A glance over some beautiful years of my life ....</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/delhi (1).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2020</h4>
                                    <h4 class="subheading">B.Tech., IIT Delhi </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In India, more than 10 Lakhs people appear for the IIT entrance examination dreaming to get admission in IITs. I appeared for JEE-Advanced, India's toughest exam, and secured 1070 rank that got me into the one of the most premium institutes of India, IIT Delhi.
                                        In the year 2020, I bid farewell to IIT Delhi with tons of learnings and memories in my heart.

                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/startups (2).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> 2019-2020</h4>
                                    <h4 class="subheading">Internships</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Being a student at IIT Delhi, I had gained lots of skills. But what was lacking was the industry expireicnec. Hence, I to apply my learings on industry level projects, I did multiples internships in the field of data science at start ups </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/datakind (1).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">Data Science for Good</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the last semester of my B.Tech. at IIT Delhi, I got an oppurtunity to work with DataKind, Bangalore Chapter as a data scientist. At datakind, I worked on projects that aimed to develop an open source data platform where researchers can come and query for what they need their research. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/jlr (1).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-Present</h4>
                                    <h4 class="subheading">Started my professional journey with JLR </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During the campus placements at IIT Delhi, I had recieved offer from Jaguar Land Rover for the Data Science Role. I joined Jaguar Land Rover in September 2020 and have worked on some cutting edge technologies since I joined the company</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Many More
                                    <br>Milestons
                                    <br>to Achieve!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>