<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ABOUT ME</h2>
                    <!-- <h3 class="section-subheading text-muted">Hello! I am <b>Gaurav</b>. I am a Data Scientist at Jaguar Land Rover. I have done my Bachelor's from one of the premium institutes of India, <b>IIT Delhi</b>. I have worked on industrial projects in the areas like NLP, Computer Vision, and Statistical Modeling. I have expirience of leading projects and starting projects from scratch. I am also skilled in deployment and using cloud services. I write blogs on medium on the areas related to data science.   </h3> -->
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"> <i> Hi, I am <b>Gaurav</b>. I am a Data Scientist at Jaguar Land Rover. I have done my Bachelor's from <b>IIT Delhi</b>. I have worked on industrial projects in the areas like NLP, Computer Vision, and Statistical Modelling. I have experience of leading projects and starting projects from scratch. I am also skilled in deployment and using cloud services. I write data science blogs on Medium. </i>  </p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>